<router-outlet />

<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>Todo List</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let todo of todos">
        <mat-checkbox></mat-checkbox>
        <span>{{ todo.title }}</span>
        <mat-list *ngIf="todo.subTasks && todo.subTasks.length > 0">
          <mat-list-item *ngFor="let subTask of todo.subTasks">
            <mat-checkbox></mat-checkbox>
            <span>{{ subTask.title }}</span>
          </mat-list-item>
        </mat-list>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card> -->

<mat-accordion class="todo-list">
  <mat-expansion-panel *ngFor="let todo of todos">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ todo.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let subTask of todo.subTasks">
        <mat-checkbox>{{ subTask.title }}</mat-checkbox>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>